@use 'sass:math';
@import '../../styles/variables.scss';

.diabro-item {
  align-items: center;
  display: flex;

  .measurement-icon {
    flex-shrink: 0;
    height: 80px;
    margin-right: 2 * $base-spacing;
    width: 80px;
  }

  .rest {
    overflow: hidden;

    h3 {
      font-size: 1rem;
      font-weight: bold;
      margin: 0 0 math.div($base-spacing, 2);
    }

    p {
      font-size: 0.875rem;
      margin: 0 0 math.div($base-spacing, 2);

      &:last-child {
        margin-bottom: 0;
      }
    }

    .time {
      color: $color-grey;
    }
  }
}
