@import '../../styles/variables.scss';

$icon-size: $top-bar-height - 2 * $base-spacing;

.patient-header {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  display: flex;
  height: $top-bar-height;
  left: 0;
  padding: $base-spacing;
  position: fixed;
  right: 0;
  top: 0;

  .back {
    background-image: url(../../assets/images/arrow-left.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 50% auto;
    border-radius: 50%;
    flex-shrink: 0;
    height: $icon-size;
    width: $icon-size;
  }

  .name {
    font-weight: bold;
    margin-left: auto;
    margin-right: 2 * $base-spacing;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .profile-image {
    border: none;
    flex-shrink: 0;
    height: $icon-size;
    width: $icon-size;
  }
}
