@import '../../styles/variables.scss';

.patient-item {
  align-items: center;
  display: flex;

  .profile-image {
    flex-shrink: 0;
    height: 80px;
    margin-right: 2 * $base-spacing;
    width: 80px;
  }

  .rest {
    overflow: hidden;

    h3 {
      font-size: 1.25rem;
      font-weight: bold;
      margin: 0 0 $base-spacing;
    }

    p {
      font-size: 0.875rem;
      margin: 0;
    }
  }
}
